In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import math

In [ ]:
file_name = input("Please enter your file name!")
try:
    tickers = pd.read_csv(file_name)
except FileNotFoundError:
    print("File doesn't exist!")

In [8]:
def fetch_market_cap(ticker_list):
    data = yf.download(ticker_list, period = '1d', group_by='ticker', auto_adjust=False)
    stocks_data = []
    for ticker in ticker_list:
        latest_price = data[ticker]['Close'].iloc[-1]
        market_cap = yf.Ticker(ticker).info.get("marketCap", 'N/A')

        stocks_data.append({
            "Ticker" : ticker,
            "Market Cap" : market_cap,
            "Latest Price" : latest_price,
        })

    stocks_df = pd.DataFrame(stocks_data)

    return stocks_df

tickers_list = tickers["Ticker"].values.tolist()
df = fetch_market_cap(tickers_list)

[*********************100%***********************]  13 of 13 completed

In [9]:
df

   Ticker     Market Cap  Latest Price
0    GOOG  1880322998272    155.750000
1    NVDA  2863828041728    117.370003
2     DIS   190034886656    105.120003
3    CVNA    33391876096    285.529999
4    BYND      178732944      2.340000
5     APP   114877628416    339.510010
6     ARM   122812080128    116.519997
7    META  1503594545152    598.010010
8    SPOT   134364995584    655.260010
9    META  1503594545152    598.010010
10   RDDT    19896899584    107.830002
11   PINS    18839490560     27.860001
12   UBER   172110708736     82.300003
13   SHOP   122789371904     94.000000

In [10]:
df = df.sort_values(by="Market Cap", ascending=False)
df

   Ticker     Market Cap  Latest Price
1    NVDA  2863828041728    117.370003
0    GOOG  1880322998272    155.750000
9    META  1503594545152    598.010010
7    META  1503594545152    598.010010
2     DIS   190034886656    105.120003
12   UBER   172110708736     82.300003
8    SPOT   134364995584    655.260010
6     ARM   122812080128    116.519997
13   SHOP   122789371904     94.000000
5     APP   114877628416    339.510010
3    CVNA    33391876096    285.529999
10   RDDT    19896899584    107.830002
11   PINS    18839490560     27.860001
4    BYND      178732944      2.340000

In [11]:
portfolio_size = int(input("How much art thou investing in stocks, sire?: "))
position_size = portfolio_size / len(df.index)
position_size

18724.5

In [12]:
df['# shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(position_size / price))
df

   Ticker     Market Cap  Latest Price  # shares to buy
1    NVDA  2863828041728    117.370003              159
0    GOOG  1880322998272    155.750000              120
9    META  1503594545152    598.010010               31
7    META  1503594545152    598.010010               31
2     DIS   190034886656    105.120003              178
12   UBER   172110708736     82.300003              227
8    SPOT   134364995584    655.260010               28
6     ARM   122812080128    116.519997              160
13   SHOP   122789371904     94.000000              199
5     APP   114877628416    339.510010               55
3    CVNA    33391876096    285.529999               65
10   RDDT    19896899584    107.830002              173
11   PINS    18839490560     27.860001              672
4    BYND      178732944      2.340000             8001